$border-radius-pill: 20px;

.form-control {
	color: $text-color;
	&-pill {
		border-radius: $border-radius-pill;
	}
	&[disabled] {
		border: none;
	}
	> option {
		display: block;
		padding: 5px 30px;
		background: $brand-primary;
	}
}
