$btn-font-size: 12px !default;
$btn-normal-bg: #aab2bd !default;
$btn-normal-border: #aab2bd !default;


.btn {
	text-transform: uppercase;
	font-size: $btn-font-size;
}

.btn-normal {
	@include button-variant($btn-default-color, $btn-normal-bg, $btn-normal-border);
}